<h1>create idea</h1>
<form action="/ideas/add" method='post'>
  <p>title:</p>
  <input type="text" name="title" id="" placeholder='title' value={{title}}></input>
  <p>details</p>
  <textarea name="details" id="" cols="30" rows="10" placeholder='details' value={{details}} required></textarea>
  <button type="submit">submit</button>

</form>